#book-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 8%;
}

#book-page h2 {
  margin-top: 5%;
  margin-bottom: 2%;
  min-width: 250px;
}

#book-page > img {
  display: block;
  width: 42%;
  min-width: 250px;
  align-self: center;
}

#book-page article > img {
  display: block;
  width: 100%;
  min-width: 250px;
  margin-top: 5%;
  margin-bottom: 5%;
}

#book-page article {
  width: 53%;
}

#book-page p {
  font-size: 1.25rem;
  min-width: 250px;
}

.btn {
  border-radius: 0;
}
