#book {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 8%;
}

#book h2 {
  margin-top: 5%;
  margin-bottom: 2%;
}

#book > img {
  display: block;
  width: 42%;
  min-width: 200px;
}

#book article > img {
  display: block;
  width: 100%;
  min-width: 200px;
  margin-top: 5%;
  margin-bottom: 5%;
}

#book article {
  width: 53%;
}

#book p {
  font-size: 1.25rem;
}
