#cards > section {
  padding-left: 14%;
  padding-right: 14%;
  padding-top: 3%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#cards #card-description {
  padding-left: 10%;
  padding-right: 10%;
}

#cards section img {
  max-width: 45%;
  min-width: 250px;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;
}

#cards section div {
  width: 45%;
  min-width: 250px;
}

#cards p {
  margin-bottom: 5%;
}

#cardsrights {
  padding-right: 5%;
}

#cardslaws {
  padding-right: 5%;
}

.btn {
  display: inline-block;
  margin-top: 4%;
  margin-bottom: 4%;
}
