#cards > section {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#cards section img {
  width: 45%;
  align-self: center;
}

#cards section div {
  max-width: 45%;
  min-width: 300px;
}

#cardsrights {
  padding-right: 5%;
}

#cardslaws {
  padding-right: 5%;
}

.btn {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
}
