#home section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2%;
  margin-bottom: 3%;
}

#home img {
  width: 50%;
  min-width: 200px;
  align-self: center;
}

#home h2, #home h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1%;
}

#home .btn {
  margin: 1%;
  border-radius: 0;
}