section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2%;
  margin-bottom: 3%;
}

img {
  width: 50%;
  min-width: 200px;
}

h2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 1%;
}