section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2%;
  margin-bottom: 3%;
}

img {
  width: 50%;
  height: auto;
  min-width: 200px;
}

h2, h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1%;
}

.btn {
  margin: 1%;
}