header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header h1 {
    margin-top: 1%;
    margin-bottom: 0;
}

.nav-link {
    font-size: 1.25rem;
}

nav, .navbar-collapse {
    width: 100%;
    justify-content: space-evenly;
}

 div.navbar-nav {
    width: 40%;
    justify-content: space-evenly;
 }
