.body-container {
    background-color: lightgrey;
    border-radius: 25px;
}

.carousel-image-container {
    margin: auto;
    width: 40vw;
    height: 60vh;
    min-width: 200px;
    min-height: 200px;
    border-radius: 25px;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 25px;
}

.image {
    border-radius: 25px;
}
